:root {
    --red: #E63946;
    --white: #F1FAEE;
    --powder-blue: #a8dadc;
    --celadon-blue: #457B9D;
    --perusian-blue: #1D3557;
    --black: #020202;

}

* {
    margin: 0;
    padding: 0;
}


html {
    scroll-behavior: smooth;
}

body {
    font-size: 18px;
    padding: 1rem;
}

.hero {
    min-height: 100vh;
    max-width: 100vw;
    background-image: linear-gradient(to right bottom, rgba(0, 0, 0, 0.651), rgba(0, 0, 0, 0.836)), url(https://images.unsplash.com/photo-1513104890138-7c749659a591?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1650&q=80);
    background-size: cover;
    background-position: center;
    position: relative;
}

nav {
    background-color: transparent;
    height: 3rem;
}

body > section > nav > a {
    margin-left: 3rem;
    color: var(--white); 
    z-index: 1000; 
    font-size: 2.8rem;  
}


#navbarNavAltMarkup > div > a {
    color: var(--white);
    margin-right: 3rem;
    transition: all ease-in-out .6s;
    /* border: 1px solid white;
    border-radius: 20px; */
}

#navbarNavAltMarkup > div > a:hover {
    /* border: 1px solid var(--white); */
    /* padding: .1rem .6rem; */
    /* border-radius: 20px; */
}


.overlay {
    position: absolute;

}

.left {
    position: absolute;
    left: 0;
    bottom: 0;
    width: 50%;
    /* background-color: rgba(255, 255, 0, 0.767); */
    height: 100vh;
}

.special-offers {
    text-align: center;
    min-height: 100vh;
    margin-top: 1rem;
    padding: 2rem;
    max-width: 100vw;
    background-size: cover;
    background-position: center;
    background-image: linear-gradient(to bottom, rgba(177, 177, 177, 0.904), rgba(0, 0, 0, 0.614)), url(https://images.unsplash.com/photo-1572785031839-8d006462dcd4?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1839&q=80);
}

.offer-heading h3{
    text-decoration: underline var(--red);
}

.offers {
    gap: 1.5rem
}

.card {
    height: 400px;
    margin-right: 1rem;
    text-align: center;
    min-width: 269px;
    padding: 0;
    transition: transform  ease .2s;
}

.card:hover {
    transform: scale(1.1);
}

.top {
    height: 70%;
}

.bottom {
    height: 30%;
}

.bottom h6 {
    margin-top: 2rem;
}

.bottom a {
    text-decoration: none;
    color: var(--black);
    transition: all ease .3s;
}

.bottom a:hover {
    background-color: var(--black);
    padding: .4rem .7rem;
    color: var(--white);
}

.top {
    background-position: center;
    background-size: cover;
    border-radius: 3px 3px 0 0;

}

.one .top {
    background-image: url(https://images.unsplash.com/photo-1565299624946-b28f40a0ae38?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=414&q=80);
}

.two .top {
    background-image: url(https://images.unsplash.com/photo-1593246049226-ded77bf90326?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=375&q=80);
}

.three .top {
    background-image: url(https://images.unsplash.com/photo-1593560708920-61dd98c46a4e?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80);
}

.four .top {
    background-image: url(https://images.unsplash.com/photo-1617424771170-d333ef3d93d8?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=405&q=80);
}

.order {
    min-height: 100vh;
    margin-top: 1rem;
    /* background-color: crimson; */
    display: flex;
}

.order-right {
    flex: 1;
    background-color: cyan;
}

.order-left {
    background-color: darkblue;
    flex: 1.5;
    /* clip-path: polygon(0 0, 68% 0, 40% 100%, 0% 100%) */
    clip-path: polygon(0 0, 91% 0, 70% 100%, 0% 100%);
}

